<%include partials/header %>
          
<div id="navbar" class="navbar-collapse collapse">
  <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
    <li ><a href="/">Home</a></li>
    <li><a href="course-archive.html">Projects</a></li>
    <li><a href="scholarship.html">Registration</a></li>
   
    <li><a href="/gallery">GALLERY</a></li>                
    
    
    <li><a href="contact.html">Contact<i class="audio description icon" style="font-size: 2em;"></i></a></li>
  </ul>           
</div><!--/.nav-collapse -->
</div>     
</nav>  
</div>
<!-- END MENU -->    
</header>
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <div  style="background: black;">
    <section id="imgBanner" style="background: black;">
      <h2 style="color: #c9a6a6;">Gallery</h2>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->
    
    <!--=========== BEGIN GALLERY SECTION ================-->
    <section id="gallery" class = "container">
      <div class="container" >
          <div class="col-md-12 col-sm-12 " >
          <%tags.forEach(function(tag){%>
            <button type="button" class="btn btn-default btn-lg gbutton" style="margin-left: 7%;" data-rel="<%=tag.tag%>"><%=tag.tag%></button>
          <%})%>
          </div>
        
        <div class="row">
            <div id="gallerySLide" class="gallery_area col-md-12 col-sm-24 ">
                  <%images.forEach((image)=>{%>
                    <span class="all <%=image.tag%> animation img-fluid img-responsive" style="display:inline">
                    <a href="<%=image.url%>" title="<%=image.description%>"  >
                      <img class="gallery_img img-responsive " src="<%=image.url%>" alt="img" />
                    <span class="view_btn">View</span>
                    </a>
                  </span>
                 <% })%>
                </div>
          </div>
      </div>
    </section>
  </div>
    <!--=========== END GALLERY SECTION ================-->
    
    <!--=========== BEGIN FOOTER SECTION ================-->
    
      <!-- End footer top area -->
  <!-- End footer top area -->
  <%include partials/footer %>