<% include partials/header %>
          
<div id="navbar" class="navbar-collapse collapse">
  <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
    <li ><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="scholarship.html">Registration</a></li>
   
    <li><a href="/gallery" class="active">GALLERY</a></li>                
    
    
    <li><a href="contact.html">Contact</a></li>
  </ul>           
</div><!--/.nav-collapse -->
</div>     
</nav>  
</div>
<!-- END MENU -->    
</header>
<div style="clear: both;min-height: 12%;"></div>
 <div class="container-fluid" >
        <div class="tag">
          <div  style="display: flex ;justify-content: space-evenly;flex-flow: row wrap;" >
          <% tags.forEach(function(tag){ %>
            <button type="button" class="btn btn-default btn-lg gbutton" style="margin-left: 7%;min-width: 15%;margin:5px" data-rel="<%= tag.tag %>"><%= tag.tag %></button>
          <% })%>
          </div>
        </div>
      </div>
      <div style="clear: both;min-height: 17%;"></div>
      <div class="container-fluid">
          <div id="gallerySLide" class="gallery_area row">
              <% images.forEach((image)=>{ %>
                <div class="all <%=image.tag%> animation img-fluid img-responsive col-lg-2 col-md-3 col-sm-4 col-xs-12 "  style="margin-left:1%">
                <a href="<%=image.url%>" title="<%=image.description%>" style="width:100% ;margin:auto"  >
                  <img style="width:100%" class="gallery_img img-responsive " src="<%=image.url%>" alt="img" />
                <span class="view_btn">View</span>
                </a>
              </div>
             <% })%>
            </div>
      </div>
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <!-- <div  style="background: rgb(238, 234, 234);position: relative;top:0">
    
    <section id="gallery" class = "container">
      <div class="container" style="margin: 10% 0;" >
        <div class="row tag">
          <div class="col-md-12 col-sm-12 " >
          <%tags.forEach(function(tag){%>
            <button type="button" class="btn btn-default btn-lg gbutton" style="margin-left: 7%;min-width: 15%;margin:5px" data-rel="<%=tag.tag%>"><%=tag.tag%></button>
          <%})%>
          </div>
        </div>
        
       <div style="height:9em"></div>
       
            <div id="gallerySLide" class="gallery_area col-md-6 col-sm-6 ">
                  <%images.forEach((image)=>{%>
                    <div class="all <%=image.tag%> animation img-fluid img-responsive " style="margin-left:1px">
                    <a href="<%=image.url%>" title="<%=image.description%>"  >
                      <img class="gallery_img img-responsive " src="<%=image.url%>" alt="img" />
                    <span class="view_btn">View</span>
                    </a>
                  </div>
                 <% })%>
                </div>
          </div>
      </div>
    </section>
  </div> -->
    <!--=========== END GALLERY SECTION ================-->
    
    <!--=========== BEGIN FOOTER SECTION ================-->
    
      <!-- End footer top area -->
  <!-- End footer top area -->
  <%include partials/footer %>