<%include partials/header %>
<div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
          <li ><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="scholarship.html">Registration</a></li>
         
          <li><a href="/gallery" class="active">GALLERY</a></li>                
          
          
          <li><a href="contact.html">Contact</a></li>
        </ul>           
      </div><!--/.nav-collapse -->
      </div>     
      </nav>  
      </div>
      <!-- END MENU -->    
      </header>
      <div style="min-height: 16%;"></div>
      <div style="text-align:center; width:100% ;margin:1%"><h1>Projects</h1></div>

      <div class="container-fluid">
          <div class="row">
             <% datas.forEach((data)=>{%>
                <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 " data-target="#projectModal" data-toggle="modal" ><div class="jumbotron project h3" data-title="<%=data.title%> " data-image="<%=data.image%>" data-brief="<%=data.brief%>" data-pdf = "<%=data.pdflink%>" ><img src="<%=data.image%>" alt="project#"
                     class="img img-responsive center-block "><%=data.title%></div></div>
              <%})%>
              
          </div>
           

     
      </div>

      <div class="modal fade" id="projectModal"  tabindex="-1" data-backdrop="static" style="font-size:5px;">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <button class="close" data-dismiss="modal">&times;</button>
                      <h2 id="modalHeader"></h2>
                  </div>
                  <div class="modal-body">
                      <img id="modalImage" src=" " alt="" class="img-responsive center-block"></div>
                      <p id="modalBrief" style="font-size: x-large;"></p>
                  <div class="modal-footer">
                     <a download id="pdf" href="#" style="float:left"><h3>Download pdf</h3></a>
                      <button class="btn btn-primary" data-dismiss="modal">close</button>
                  </div>
              </div>
          </div>

      </div>



<%include partials/footer %>