<%include partials/header %>
<div id="navbar" class="navbar-collapse collapse">
    <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
        <li "><a href="/">Home</a></li>
        <li class ="active"><a href="/projects">Projects</a></li>
        <!-- <li><a href="/post" class="project-btn">Upload Projects</a></li> -->
        <li><a href="/gallery">Gallery</a></li>
        <li ><a href="/contacts">Contact us</a></li>
        <!-- <li><a href="/team">Team</a></li> -->
       
        <!-- <li><a href="/Login">LogIn</a></li> -->
        <!-- <li><a href="/Signup">SignUp</a></li> -->
      </ul>
</div>
</div>
</nav>
</div>
<!-- END MENU -->
</header>
<div style="min-height: 16%;"></div>
<div style="text-align:center; width:100% ;margin:1%">
    <h1>Projects</h1>
</div>

<div class="container-fluid"
    style="padding-top: 7%;background-color: #1b1c1e;color:#fff;border-color: rgb(22, 24, 39);">
    <div class="row">
        <% datas.forEach((data)=>{%>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" data-target="#projectModal" data-toggle="modal">
            <div onclick="proFun('<%=data.title%>','<%=data.image%>','<%=data.brief%>')" class="thumbnail project" style="box-shadow: 0 13px 5px -5px #000000;background-color: #1b1c1e;color:whitesmoke; border:none">
                <iframe width="100%" height="60%" src="<%=data.image%>"></iframe>
                <div class="caption" style="color:#fff">
                    <h3><%=data.title%></h3>
                    <p><%=data.brief.substr(0,Math.min(60,data.brief.length))+'...'%></p>
                    <p><a href="#" class="btn btn-primary" role="button">Read More >></a> </p>
                </div>
            </div>
        </div>
        <!-- <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 " data-target="#projectModal" data-toggle="modal">
            <div class="jumbotron project h3 " style="background-image: linear-gradient(to bottom right,pink,gray)"
                data-title="<%=data.title%> " data-image="<%=data.image%>" data-brief="<%=data.brief%>">
                <iframe width="100%" height="60%" src="<%=data.image%>"></iframe><%=data.title%></div>
        </div> -->
        <%})%>




        <!-- <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 " data-target="#projectModal" data-toggle="modal">
            <div class="jumbotron project h3" style="background-image: linear-gradient(to bottom right,pink,gray)"
                data-title="Top IOT projects" data-image="https://www.youtube.com/embed/QL-6PdiDTeo"
                data-brief="IOT is growing at an enormous rate . Here are some of it's applications">
                <iframe width="100%" height="60%" src="https://www.youtube.com/embed/QL-6PdiDTeo">
                </iframe>Top IOT projects</div>
        </div>
    </div> -->

    </div>

    <div class="modal fade" id="projectModal" tabindex="-1" data-backdrop="static" style="font-size:5px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background:#1b1c1e">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h2 id="modalHeader" style="color:#fff;text-align: center;"></h2>
                </div>
                <div class="modal-body">
                    <iframe id="modalImage" class="img-responsive center-block" width="350" height="450"
                        style="padding-bottom: 10%;margin-bottom: 5%;">
                    </iframe>
                    <!-- <img id="modalImage" src=" " alt="" class="img-responsive center-block"> -->
                    <p id="modalBrief" style="font-size: large;text-align: center;"></p>
                </div>

                <div class="modal-footer">
                    <!-- <a download id="pdf" href="#" style="float:left"><h3>youtubelink</h3></a> -->
                    <button class="btn btn-primary" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>

    </div>



    <%include partials/footer %>